<launch>

    <node pkg="tools" type="readrosbag" name="readrosbag" output="screen" required="true"> 

        <param name="bag_path" value="" />  
        <param name="lidar_topic" value="" />  

    </node>

    <node pkg="rviz" type="rviz" name="rviz"  args="-d $(find tools)/rviz/readrosbag.rviz" />

</launch>